#add flaskr/__pycache__/
#add flaskr/*.pyc
#add flaskr/*.pyo
#add flaskr/*.pyd
#add flaskr/__pycache__/
#add flaskr/*.pyc
#add flaskr/*.pyo
#add flaskr/*.pyd
#add flaskr/__pycache__/

# add all the lib , Scripts and include files in the virtual environment
Bootcamp/flask/restApi/.venv/

Bootcamp/flask/__pycache__/

.venv/

Bootcamp/flask-eduhence/restApi/.venv/

Bootcamp/flask-eduhence/__pycache__/

.venv/
Bootcamp/node_modules
Bootcamp/DB-uvod/0.1.1-DB-studenti/node_modules
Bootcamp/DB-uvod/0.3-World-capitals-quiz/node_modules
Bootcamp/DB-uvod/0.1.2-library-vjezba/node_modules
