/* TODO 1: element selector for all <li> */
li {
  color: red;                /* every <li> becomes red */
}

/* TODO 2: class selector for .note */
.note {
  font-size: 20px;           /* any element with class="note" gets larger text */
}

/* TODO 3: ID selector for #id-selector-demo */
#id-selector-demo {
  color: green;              /* that specific list-item turns green */
}

/* TODO 4: attribute selector for li[value="4"] */
li[value="4"] {
  color: blue;               /* only the one with value="4" becomes blue */
}

/* TODO 5: universal selector for all elements */
ol {
  text-align: center;        /* every element is centered */
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff')  format('woff');
  font-weight: normal;      /* normal = 400 */
  font-style: normal;       /* normal ili italic */
}

/* 2) Primijeni font na cijelu stranicu */
body {
  font-family: 'Roboto', sans-serif;
  margin: 40px;
}